body {
    background-image: url(../imgs/uskociBackground.jpg)
}

.wood, .money, .food, .weapon {
    margin-left: 20px;
}

#otherResources1 {
    margin-top: 20px;
}


.resource {
    position: relative;
    border-radius: 7px;
    border: 3px dashed #FFF;
    height:200px;
}

#console {
    padding-top: 20px;
    width: 150px;
    heigth: 300px;
}

button .btn {
    background: darkGreen;
}

.uskociButton {
    width: 125px;
    margin-left: 30px;
}

.description {
    position: relative;
    text-align: center;
    color: black;
    background-color: white;
    z-index: 100;
    top: 120px;
    left: 20px;
    width: 120px;
    height: 80px;
    border-radius: 10px;
    opacity: 0.8;
}

h1 {
    color: #C9771E;
}

.hero-unit
{
    opacity: 0.7;
}

.hidden {
    visibility: hidden;
    display: none;
}

#activeCard {

}

#activeCard {
    /*background: rgba(0, 0, 0, 0.6);*/
}

#deck {
    float: left;
    width: 190px;
    height: 260px;
    border-radius: 7px;
    border: 3px dashed #FFF;
    padding: 10px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

#playerCards {
    float: left;
    width: 630px;
    height: 420px;
    position: relative;
    /*
    -webkit-transform: translate3D(60px, 25px, 0);
    transform: translate3D(60px, 25px, 0);
    -moz-transform: translate3D(60px, 25px, 0);
    -o-transform: translate3D(60px, 25px, 0);
    */
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    /*display: box;
    box-pack: center;
    box-align: center;*/
}

.cardSmall {
    -webkit-perspective: 600;
    perspective: 600;
    -moz-perspective: 600;
    -o-perspective: 600;
    width: 81.25px;
    height: 114.5px;
    position: absolute;
}

.card {
    -webkit-perspective: 600;
    perspective: 600;
    -moz-perspective: 600;
    -o-perspective: 600;
    width: 162.5px;
    height: 229px;
    position: absolute;
    /*
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
    -o-transition: all .3s;
    */
}

.face {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    /*
    -webkit-transition-property: opacity, transform, box-shadow;
    -webkit-transition-duration: .5s;
    -webkit-backface-visibility: hidden;
    transition-property: opacity, transform, box-shadow;
    transition-duration: .5s;
    backface-visibility: hidden;
    -moz-transition-property: opacity, transform, box-shadow;
    -moz-transition-duration: .5s;
    -moz-backface-visibility: hidden;
    -o-transition-property: opacity, transform, box-shadow;
    -o-transition-duration: .5s;
    */
    -o-backface-visibility: hidden;
}

.frontSmall {
    background: #999 url(../imgs/uskociBack_small.png);
    z-index: 10;
}

.backSmall {
    background: #efefef url(../imgs/uskociNewDeck_small.jpg);
    z-index: 8;
}

.front {
    background: #999 url(../imgs/uskociBack.png);
    z-index: 10;
}

.back {
    background: #efefef url(../imgs/uskociNewDeck.jpg);
    /*
    -webkit-transform: rotate3d(0,1,0,-180deg);
    transform: rotate3d(0,1,0,-180deg);
    -moz-transform: rotate3d(0,1,0,-180deg);
    -o-transform: rotate3d(0,1,0,-180deg);
    */
    z-index: 8;
}

.card:hover .face, .card-flipped .face {
    /*box-shadow: 0 0 30px #aaf;*/
}

.card-flipped .front, .card-flipped .frontSmall {
    /*
    -webkit-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    -o-transform: rotate3d(0,1,0,180deg);
    */
    /*box-shadow: 0 0 30px #aaf;*/
    z-index: 8;
}

.card-flipped .back, .card-flipped .backSmall {
    /*
    -webkit-transform: rotate3d(0,1,0,0deg);
    transform: rotate3d(0,1,0,0deg);
    -moz-transform: rotate3d(0,1,0,0deg);
    -o-transform: rotate3d(0,1,0,0deg);
    */
    z-index: 10;
}

.card-removed {
    opacity: 0;
}

.zoomed {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);

    -webkit-transition: all .25s linear;
           -moz-transition: all .25s linear;
            -ms-transition: all .25s linear;
             -o-transition: all .25s linear;
                transition: all .25s linear;
            
}