<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Uskoci REST API</display-name>
    <!-- Atmosphere -->
    <servlet>
        <description>AtmosphereServlet</description>
        <servlet-name>AtmosphereServlet</servlet-name>
        <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
        <init-param>
            <!-- Jersey base package of your resources -->
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.randombit.uskoci.rest.card;com.randombit.uskoci.rest.game;com.randombit.uskoci.rest.gamecontrol;com.randombit.uskoci.rest.fbresources</param-value>
        </init-param>
        <init-param>
            <!-- Enable Jersey's JSON mapping feature -->
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.websocket.messageContentType</param-name>
            <param-value>application/json</param-value>
        </init-param>
        <!--Add support for broadcasting in cluster-->
        <param-name>org.atmosphere.cpr.broadcasterClassName</param-name>
        <param-value>JMSBroadcaster</param-value>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <!--<servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.randombit.uskoci.card.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>AtmosphereServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>-->
</web-app>
